main {
  padding-top: 100px;
  background-color: #f3f0eb;
}

.grid {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 730px) {
    flex-direction: column;
  }

  .grain {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    background-image: url(../../assets/60a89fa6c26818e83277f850_noise.gif);
    background-size: auto;
    opacity: 0.03;
  }
}

.grid-item-one {
  display: flex;
  align-items: center;
  width: 50%;
  color: #f47a55;

  @media (max-width: 730px) {
    text-align: center;
    width: 100%;
  }

  .hero-title {
    color: #1e5451;
    max-width: 700px;

    @media (max-width: 730px) {
      text-align: center;
      max-width: 700px;
    }
  }

  .hero-button {
    margin-top: 30px;
    color: #1e5451;
    background: none;
    border: 2px solid #1e5451;
    border-radius: 6px;
    padding: 20px 30px 20px 30px;
    font: inherit;
    cursor: pointer;
  }
}

.grid-item-two {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 730px) {
    width: 100%;
  }

  img {
    width: clamp(400px, 105%, 115%);

    @media (max-width: 730px) {
      margin: auto;
      display: flex;
      width: 80%;
    }
  }
}

.section {
  padding: 100px 0px 100px 0px;
}

.author-wrapper {
  color: #adadad;
  padding: 30px 100px;
  background-color: white;
  border-radius: 8px;

  @media (max-width: 410px) {
    padding: 30px 30px;
  }
}

.center-author {
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: 410px) {
    font-size: 15px;
  }
}

.names {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 900;
  font-size: 25px;
  @media (max-width: 730px) {
    font-size: 20px;
  }

  @media (max-width: 646px) {
    flex-direction: column;
    font-size: 100%;
  }

  div {
    text-align: center;
    @media (max-width: 646px) {
      padding-bottom: 20px;
    }
  }
}

.servie-title-wrapper {
  line-height: 1.2;
  text-align: center;
  margin: auto;
  max-width: 450px;
}

.subtag {
  font-weight: 900;
  color: #f47a55;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .box {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 40px;

    .box-icons {
      height: 100px;
    }

    .box-header {
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 35px;
      line-height: 1.2;
      font-weight: 700;
      max-width: 150px;
      color: #1e5451;
    }
  }

  .solid {
    border: none;
    background-color: white;
  }
}

.demo-grid {
  display: flex;
  flex-direction: row;

  @media (max-width: 862px) {
    flex-direction: column;
  }

  .demo-grid-item-one {
    display: flex;
    justify-content: center;
    width: 50%;

    @media (max-width: 862px) {
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 500px;
      @media (max-width: 862px) {
        width: 100%;
      }
    }
  }

  .demo-grid-item-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    @media (max-width: 862px) {
      width: 100%;
    }

    .demo-title-wrapper {
      @media (max-width: 862px) {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .box-header {
      margin-bottom: 10px;
      font-size: 35px;
      line-height: 1.2;
      font-weight: 700;
      max-width: 350px;
      color: #1e5451;

      @media (max-width: 862px) {
        text-align: center;
      }
    }

    .demo-button {
      margin-top: 30px;
      color: white;
      background: #f47a55;
      border: none;
      border-radius: 6px;
      padding: 20px 30px 20px 30px;
      font: inherit;
      cursor: pointer;

      @media (max-width: 862px) {
        margin: 30px 0px;
      }
    }
  }
}

.flex-reverse {
  flex-direction: row-reverse;

  @media (max-width: 862px) {
    flex-direction: column;
  }
}
