main{
  padding-top: 100px;
  background-color: #f3f0eb;


  .grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    
    
    .grid-item-one{
      width: 50%;
    }

    .grid-item-two{
      width: 50%;

      img{
        height: 500px;
      }
    }
  }

  
}