.navbar {
  width: 100%;
  font-weight: 400;
  height: 89px;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  text-decoration: none;
  font-weight: 300;
}

.links {
  font-size: 20px;
}

.logo {
  height: 50px;
}
