/* variables */

/* $color-black: #1B1A18;
$color-background: #F3F0EB;
$color-light-grey: #D1D1D1;
$color-med-grey: #8C8C8C;
$color-blue-green: #1E5451;
$color-light-blue: #86BDBE;
$color-orange: #F47A55;
$color-yellow: #F9C681; */
/* $media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)"; */

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #1b1a18;
  background-color: #f3f0eb;
  line-height: 1;
  min-height: 100vh;
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  content: "";
  display: block;
  height: 70px; /* Set same as footer's height */
}

h1 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: clamp(4.5vh, 7vw, 8vh);
}

h3 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #1e5451;
}

h4 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: 4vmin;
}

h5 {
  font-size: 17px;
  line-height: 1;
  font-weight: 300;
}

h6 {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
}

p {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #1e5451;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 730px) {
  h3{
    font-size: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
