/* variables */

/* $color-black: #1B1A18;
$color-background: #F3F0EB;
$color-light-grey: #D1D1D1;
$color-med-grey: #8C8C8C;
$color-blue-green: #1E5451;
$color-light-blue: #86BDBE;
$color-orange: #F47A55;
$color-yellow: #F9C681; */

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #1b1a18;
  background-color: #f3f0eb;
  font-height: 1;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: 70px;
}

h3{
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #1E5451;
}

h4 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: 32px;
}

h5{
  font-size: 17px;
  line-height: 1;
  font-weight: 300;
}



h6{
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
}

p{
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #1E5451
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-container {
  width: 100%;
  max-width: 1560px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
}
